@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');

* {
    font-family: 'Hedvig Letters Sans', sans-serif;
}

#card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#container {
    padding: 2px 16px;
    padding-bottom: 20px;
}

.winner {
    color: green;
}

.loser {
    color: red;
}